@font-face
{
    font-family: "Neon80s";
    src: url("../FONT/Neon.ttf") format('truetype');
}



body
    {
    background-image:url(../IMAGES/fond\ ecran\ ok\ html\ png.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Neon80s";
    }

header
    {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;    
    background-image:url(../IMAGES/bandeau\ test\ 11.png);
    background-position: center;
    background-size: cover;
    opacity: 0.8;
    height: 300px;
    }

.container
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }


.item
    {
    opacity: 1;
    cursor: pointer;
    border-radius: 8px;
    margin: 8px;
    margin-left: 8px;
    padding: 8px;
    color: white;
    font-size: 24px;
    text-align: center;
    opacity: 0.8;
    width: 600px;
    }

nav 
{
    display: flex;
    align-self: flex-end;
}

.menudesktop ul 
{
    display:flex;
    justify-content: space-between;
    text-align: center;
    list-style:none;
}    

.menudesktop li
    {
        background-size: cover;
        padding: 20px;
        margin: 2px;
        background: #f47e0b;
    }

.menudesktop a 
{
    color: black;
    text-decoration: none;
}
    




























#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}


  #menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #f47e0b;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 
 
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 

 #menu
 {
   position: absolute;
   width: 300px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background: #f0b513;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
 
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 
 
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }










 @media screen and (max-width:400px)
 {
      .menudesktop
         {
         display: none;
         }
      img
         {
          max-width: 360px;
          height: auto;
        }
      iframe
      {
        max-width: 360px;
        height: 400px;
      }
 }





 @media screen and (min-width:401px) and (max-width:800px)
{
.menumobile
        {
          display: none ;
        }
        img
         {
          max-width: 95%;
          height: auto;
        }
        iframe
      {
        max-width: 760px;
        height: 500px;
      }
}

@media screen and (min-width:781px)
{
  .menumobile

        {
            display: none;
        }
}












font
{
  color: #f47e0b;
}

